{% extends "base.html" %}

{% block content %}

<div class="hero">
    <h1>Zeus 的个人网站</h1>
    <p>三角洲顶级老吃家 / 红砖掠夺者 / 老鼠收割机</p>
</div>

<div class="card">
    <h2>关于我</h2>
    <p>我正在学习 xx 和 xx 开发，用于xx。</p>
</div>

<div class="card">
    <h2>当前目标</h2>
    <p>我还不知道，嘻嘻</p>
</div>

<div class="card">
    <h2>技能</h2>

    <span class="tag">M14钉子户</span>
    <span class="tag">包我只背大红包</span>
    <span class="tag">劳拉</span>
    <span class="tag">往里豪</span>
</div>


<a class="btn" href="/projects">查看我的项目</a>

{% endblock %}