<!DOCTYPE html>
<html>

<head>
    <title>三角洲豪意测试</title>
</head>

<body>

    <h1>三角洲豪意测试</h1>

    <form action="/submit_quiz" method="POST">

        <p>1. 当你复活二员时：</p>

        <input type="radio" name="q1" value="A"> A.封烟过<br>
        <input type="radio" name="q1" value="B"> B.无敌干拉<br><br>


        <p>2. 在奔跑过程中：</p>

        <input type="radio" name="q2" value="A"> A.没有多余动作<br>
        <input type="radio" name="q2" value="B"> B.31抖枪<br><br>


        <p>3. 浮力红砖：</p>

        <input type="radio" name="q3" value="A"> A.隐忍<br>
        <input type="radio" name="q3" value="B"> B.跳水拼刀<br><br>


        <p>4. 修脚被反杀：</p>

        <input type="radio" name="q4" value="A"> A.技不如人<br>
        <input type="radio" name="q4" value="B"> B.完全马枪<br><br>


        <p>5. 先手被反杀：</p>

        <input type="radio" name="q5" value="A"> A.给了<br>
        <input type="radio" name="q5" value="B"> B.卡了<br><br>


        <button type="submit">提交豪意测试</button>

    </form>

</body>

</html>